.banner {
  padding: 5% 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--cor-fundo-roxo);
}

.banner__texto {
  display: inline-block;
  width: 24.3125rem;
}

.banner__texto h2 {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 47px;
  margin-bottom: .4em;
  color: #2b2b2b;
}

.banner__texto p {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  margin-bottom: 3em;
  color: #555555;
}

.banner__botao {
  text-decoration: none;
  color: var(--cor-branco-principal);
  background-color: var(--cor-fundo-botao);
  padding: .6em 2.5em;
  border-radius: 5px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  box-shadow: 0px 5px 5px rgba(23, 23, 23, 0.1);
  border-radius: 5px;
  }


  

